<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
            <%= link_to root_path do %>
            <%= image_tag 'Logo_Bric_N.png', class:"logo"%>
           <% end %>
  <div class="">
      <div class="container d-flex justify-content-center">
        <nav style="--gp-section-max-width:1120px">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary rounded-pill" type="submit">Search</button>
            </form>
          </div>
         </nav>
      </div>
  </div>

</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= products_index_url %>">PRODUITS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_url %>">LOCATION</a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            A PROPOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">QUI SOMME NOUS ?</a></li>
            <li><a class="dropdown-item" href="#">AVIS CLIENTS</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= new_user_session_url %>">CONTACT</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="<%= destroy_user_session_path %>">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->

      </ul>
    </div>
  </div>
</div>
