<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h2 class="display-1 pt-5">Modifier produits</h2>
  </div>
</div>

<div class="container">
  <div class="rental_form">
    <%= simple_form_for [ @product ] do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :price %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :capacity %>
      <%= f.input :status %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Modifier produits", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
