<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h2 class="display-1 pt-5">Ensembles À Louer</h2>
  </div>
</div>

<div class="px-5 products-map-grid">
      <div id='map' style='width: 100%;'
      data-controller="map",
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

  <div class="product-cards">
    <% @products.each do |product| %>
      <div class="card mb-2">
        <div class="card-block p-3">
          <div class="products-photo">
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class: 'card-img-top index-image' %>
            <% else %>
              <%= image_tag("unknown.jpg", class:"card-img-top my_product_image index-image") %>
            <% end %>
            <h5 class="card-title text-center"><%= link_to product.title, product_path(product) %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><%= product.price %> €/ jours</p>
            <%= link_to "Voir le produit", product, class: "rounded-pill btn btn-outline-warning" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
