<h2>Créer un produit :</h2>
<%= simple_form_for @product do |f| %>
  <%= f.input :title, label: "Titre de l'annonce" %>
  <%= f.input :description , label: 'Description'%>
  <%= f.input :price, label: 'Prix'%>
  <%= f.submit "Ajouter votre lego", class: "btn btn-success" %>
<% end %>
