<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h1 class="display-1 pt-5">Louez des briques a <%= @product.city %></h1>
  </div>
</div>

<div class="containe">
  <div class="text-center">
      <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class: 'photo' %>
      <% end %>
      <h2 class="card-text"><%= @product.title %></h2><br>
      <p class="card-text"><%= @product.description %></p><br>
      <p class="card-text"><%= @product.price %>€/semaine </p><br>
      <% if @product.status? %>
        <p class="card-text text-success">Disponible</p><br>
      <% else %>
        <p class="card-text">Indisponible</p><br>
      <% end %>

      <a href="#" class=""> <%= link_to "Louer", "/products/#{params[:id]}/bookings/new" %></a>
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="text-decoration-none">
    <%= link_to "⬅️ Retour aux produits", products_path %>
</div>
