<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
  </div>
</div>

<div class="container d-flex flex-column card p-4 mb-4 shadow w-75 mx-auto">
    <div class="product-data d-flex">
        <div class="d-flex justify-content-between  rounded">
          <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class: 'img-fluid rounded-start' %>
          <% else %>
            <%= image_tag("unknown.jpg", class:"show-image") %>
          <% end %>
        </div>

      <div class="product_show_info">
        <h1 class="card-text"><%= @product.title %></h1>
      <div class="card-text">
          <p><strong>Description : </strong><%= @product.description %></p>
          <p><strong>Nombre de pièces : </strong><%= @product.capacity %></p>
          <p><strong>Adresse : </strong><%= @product.address %>
          <p><strong>Ville : </strong><%= @product.city %></p>
          <p><strong>Prix ​​par semaine : </strong><%= @product.price %>€</p>
          <% if @product.status? %>
            <p class="card-text text-success"><strong>Disponible</strong></p><br>
          <% else %>
            <p class="card-text"><strong>Indisponible</strong></p><br>
          <% end %>
          <%= link_to "Faire une demande de location", "/products/#{params[:id]}/bookings/new", class: "btn btn-primary" %>
        </p>
      </div>
      </div>

  </div>
</div>
      <hr>

    <%# <div class="d-flex flex-row product-options"> %>
      <%# <% if policy(Product).create? %>
        <%# <%= link_to "Ajouter produits", new_product_path, class: "btn btn-primary h-25" %>
      <%# <% end %>
      <%# <% if policy(@product).edit? %>
        <%# <%= link_to 'Modifier', edit_product_path(@product), class:"btn btn-primary" %>
      <%# <% end %>
      <%# <% if policy(@product).destroy? %>
        <%# <%= link_to 'Supprimer', product_path(@product), method: :delete, class:"btn btn-primary", data: {confirm: "Êtes-vous sûr ??"} %>
      <%# <% end %>
      <%# <% if policy(Product).create? %>
        <%# <%= link_to "Retour à Tous les produits", products_path, class: "btn btn-primary"  %>
      <%# <% end %>
    <%# </div> %>
